@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.primary-button {
		@apply bg-primary-button-bg-color text-primary-button-font-color font-medium border-2 rounded-xl border-border-color p-2;
	}

	.secondary-button {
		@apply bg-secondary-button-bg-color text-secondary-button-font-color font-medium border-2 rounded-xl border-border-color p-2;
	}

	.shadow-header {
		box-shadow: 0px 0px 81px 42px rgba(0, 0, 0, 0.75) inset;
		-webkit-box-shadow: 0px 0px 81px 42px rgba(0, 0, 0, 0.75) inset;
		-moz-box-shadow: 0px 0px 81px 42px rgba(0, 0, 0, 0.75) inset;
	}

	.secondary-text-shadow {
		text-shadow: 0px 0px 26px rgba(247, 147, 30, 0.6);
	}

	.secondary-text-font {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
	}

	.main-container {
		@apply relative flex items-center justify-center h-4/5;
	}

	.primary-input {
		@apply h-10 bg-primary-input-color text-primary-input-font-color font-medium border-2 rounded-xl border-border-color p-2 placeholder:text-primary-input-font-color placeholder:opacity-70 
				focus:outline-2 focus:outline-border-color;
	}

	.secondary-input {
		@apply h-10 bg-secondary-input-color text-secondary-input-font-color font-medium border-2 rounded-xl border-border-color p-2 placeholder:text-secondary-input-font-color placeholder:opacity-70 
				focus:outline-2 focus:outline-secondary-input-font-color;
	}

	.scroll::-webkit-scrollbar {
		width: 10px;
		border-radius: 5px;
	}
	.scroll::-webkit-scrollbar-thumb {
		border-radius: 5px;
		@apply bg-primary-button-bg-color;
	}
	.scroll::-webkit-scrollbar-track {
		border-radius: 5px;
		@apply bg-card-background-color;
	}

	.card {
		@apply bg-card-background-color rounded-xl border-[1px] border-border-color;
	}

	.label {
		@apply text-primary-font-color font-medium;
	}
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	@apply bg-background-color text-primary-font-color;
}

#root {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
}
